body{
    justify-content: center;
    bground-image: url(https://images.pexels.com/photos/942769/pexels-photo-942769.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-color: #eae0d5;
}
.menu {
    background-color: #925a31;
    height: 70px;
    width: 100%;
    margin: 0px;
}
.principal{
    background-color: #ac8362;
    height: fit-content;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.principal h1{
    font-family: 'Barcade No Bar Bold Italic', sans-serif;
    font-size: fit-content;
    color: antiquewhite;
}
.rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}
.tabela{
    height: 250px;
    width: 900px;
    background-color: #dfbea3;
}
.formulario{
    height: fit-content;
    width: 900px;
    background-color: #dfbea3;
    margin-left: 30px;
}